<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gedoumi.crowd.award.mapper.ApiAwardMapper">

    <select id="countAwarded" resultType="Integer">
        SELECT count(0)
        FROM user_award_detail
        WHERE user_id = #{param1}
          AND award_type = #{param2}
    </select>

    <select id="queryAwardStock" resultType="Integer">
        SELECT sum(award_stock)
        FROM award
        WHERE award_type = #{param1}
    </select>

    <select id="raffle" resultType="Award">
        SELECT id, award_stock
        FROM award
        WHERE award_type = #{param1}
          AND award_stock > 0
          AND award_begin &lt;= #{param2}
          AND award_end &gt;= #{param2}
    </select>

    <update id="updateStock">
        UPDATE award
        SET award_stock = award_stock - 1
        WHERE id = #{param1}
    </update>

    <insert id="insertUserAwardDetail" parameterType="UserAwardDetail">
        INSERT INTO user_award_detail (user_id, award_type, create_time, is_success)
        VALUES (#{userId}, #{awardType}, NOW(), #{isSuccess})
    </insert>

    <select id="queryUserAwardDetalList" resultType="UserAwardDetail">
        SELECT award_type, create_time, is_success
        FROM user_award_detail
        WHERE user_id = #{param1}
    </select>

</mapper>